:root {
  --whiteColor: white;
}

body {
  color: rgba(255, 255, 255);
  font-family: "Roboto";
  background-image: linear-gradient(to right, rgb(9, 20, 40), rgb(10, 20, 40));

  .button {
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #f2f2f2;
    }
  }
}
